@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
	margin:0px;
	font-family: "Josefin Sans", sans-serif;
	// overflow: hidden;
}
::-webkit-scrollbar{
	width:0px;
    height:0px;
}
#main-container-doch{
	position:absolute;
	width:300vw;
	height:100vh;
	background-color: #284b63;
	font-weight: 400;
	font-style: normal;
	display: flex;
	top:0%;
	left:0%;
	align-items: center;
	color:white;

	#text{
		display: flex;
		align-items: center;
		height:100vh;
		justify-content: center;
		width:100vw;
		cursor: default;
		// background-color: rgb(67, 67, 67);
		// position:absolute;
		font-size: 34vw;
	}

	#custom{
		height:100vh;
		width:200vw;
		color:white;
		// background-color: pink;
		display: flex;

		#page-1{
			// background-color: green;
			width:100vw;
			height:100vh;
			position:relative;

			#text-div{

				position:absolute;
				bottom:15%;
				left:10%;
				display: flex;
				flex-direction: column;
				// background-color: rgb(154, 154, 154);
				width:20vw;
				min-width: 200px;
				gap:10px;
				height:15vh;
				// justify-content: flex-start;

				#header{
					position:relative;
					width:20vw;
					height:6vh;
					min-width: 200px;
					overflow: hidden;
					#header-cover{
						position: absolute;
						width:17vw;
						height: inherit;
						// background-color: rgb(57, 57, 57);
						background-color: #11212a;
					}
					#header-text{
						width: inherit;
						height: 100%;
						display: flex;
						align-items: center;
						position: absolute;
						margin-left: 20px;
						font-size: 1.7vw;

					}
				}
				#body{
					position: relative;
					width: inherit;
					height: 100%;
					overflow: hidden;
					// background-color: black;
					#body-cover{
						position: absolute;
						width: inherit;
						height: inherit;
						// background-color: rgb(57, 57, 57);
						background-color: #11212a;

					}
					#body-text{
						position: absolute;
						width: inherit;
						font-size: 1.1vw;
						height: inherit;
						// background-color: blue;

					}
				}

			}



		}

		#page-2{
			background-color: blue;
			width: 100vw;
			height:100vh;
		}


	}
}

